body {
    margin: 0%;
    border-style: none;
    background-color: #e2d8e7;
}

#topo-do-site {
    text-align: center;
    background-color: #21022d;
    color: white;
    padding: 8px;
}
h2 {
    margin: 16px;
}
.cabecalho-rodape {
    text-align: center;
    background-color: #21022d;
    color: white;
    padding: 8px;
}
img {
    width:  150px;
    height: 150px;
}
.lactose {
 text-align: center;

}

.corpo {
   margin: 64px;
   
}


div {
    padding-bottom: 32px;
}

.borda {
    border: 24px solid white;
}

.imagem-final {
    width: 600px;
    height: 300px;
}